name: Build and push Docker image

on:
  push:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Set version tag
        run: echo "TAG=$(date +%Y%m%d-%H%M%S)" >> $GITHUB_ENV

      - name: Build Docker image
        run: |
          docker build -t ${{ secrets.DOCKERHUB_USERNAME }}/lms-app:latest .
          docker tag ${{ secrets.DOCKERHUB_USERNAME }}/lms-app:latest ${{ secrets.DOCKERHUB_USERNAME }}/lms-app:${TAG}

      - name: Push images
        run: |
          docker push ${{ secrets.DOCKERHUB_USERNAME }}/lms-app:latest
          docker push ${{ secrets.DOCKERHUB_USERNAME }}/lms-app:${TAG}

      - name: Delete older images, keep last 3
        uses: frankdejonge/use-container-cleanup@0.1.0
        with:
          keep-last: 3
          user: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
          repository: ${{ secrets.DOCKERHUB_USERNAME }}/lms-app
